body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBDBDB;
    min-height: 100vh;
}

button:hover {
    background-color: #282A35;
    border: 8px solid #282A35;
    color: #FAFAFA;
}

input:focus{
    outline: none;
}

/* Quadrado */
.square {
    background-color: #FAFAFA;
    border-radius: 10px;
    margin: 10%;
    width: 90vw;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
}

/* Título */
.title {
    color: #FAFAFA;
    background-color: #4091EC;
    border-radius: 10px 10px 0px 0px;
    padding: 5%;
    margin-bottom: 2%;

    font-size: 2em;
    font-family:'Courier New';
}

/* Cada mensagem */
.message_rectangle {
    background-color: #DBDBDB;
    margin: 0% 5% .5% 5%;
    border-radius: 10px;
    padding: 3%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin: 0% 5% 4% 0%;
    gap: 1%;
}

.btn_edit {
    background-color: #F6A75D;
    border: 8px solid #F6A75D;
    border-radius: 10px;
}

.btn_delete {
    background-color: #F65D5D;
    border: 8px solid #F65D5D;
    border-radius: 10px;
}

/* Input */
.user_input {
    border-radius: 10px 10px 0px 0px;
    background-color: #4091EC;
    margin: 0% 20%;
    margin-top: auto;
    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-right: 1%;
}

.btn_send {
    background-color: #0066CC;
    color: #FAFAFA;
    border: 8px solid #0066CC;
    border-radius: 10px;
}